USE [master]
GO
/****** Object:  Database [QuanLyKhachSan]    Script Date: 5/20/2024 3:31:14 PM ******/
CREATE DATABASE [QuanLyKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan', FILENAME = N'D:\SQLSever\DataSQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyKhachSan.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_log', FILENAME = N'D:\SQLSever\DataSQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyKhachSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[DatDichVu]    Script Date: 5/20/2024 3:31:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatDichVu](
	[ID_DatDichVu] [int] IDENTITY(1,1) NOT NULL,
	[ID_NhanVien] [int] NOT NULL,
	[ID_KhachHang] [int] NOT NULL,
	[ID_DichVu] [int] NOT NULL,
	[ID_KhuyenMai] [varchar](100) NULL,
	[SoLuong] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[HinhThucThanhToan] [nvarchar](100) NOT NULL,
	[KetQua] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DatDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[ID_DatPhong] [int] IDENTITY(1,1) NOT NULL,
	[ID_NhanVien] [int] NOT NULL,
	[ID_KhachHang] [int] NOT NULL,
	[ID_Phong] [int] NOT NULL,
	[ID_KhuyenMai] [varchar](100) NULL,
	[Check_In] [datetime] NOT NULL,
	[Check_Out] [datetime] NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[HinhThucThanhToan] [nvarchar](100) NOT NULL,
	[KetQua] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[ID_DichVu] [int] IDENTITY(1,1) NOT NULL,
	[ID_LoaiDichVu] [int] NULL,
	[Ten_DichVu] [nvarchar](255) NOT NULL,
	[Gia_DichVu] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID_KhachHang] [int] IDENTITY(1,1) NOT NULL,
	[Ten_KhachHang] [nvarchar](255) NOT NULL,
	[Tuoi_KhachHang] [int] NOT NULL,
	[CMND_KhachHang] [varchar](20) NOT NULL,
	[GioiTinh_KhachHang] [nvarchar](10) NOT NULL,
	[Email_KhachHang] [varchar](100) NOT NULL,
	[SDT_KhachHang] [varchar](15) NOT NULL,
	[DiaChi_KhachHang] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[ID_KhuyenMai] [varchar](100) NOT NULL,
	[Ten_KhuyenMai] [nvarchar](255) NOT NULL,
	[GiaTri] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[ID_LoaiDichVu] [int] IDENTITY(1,1) NOT NULL,
	[Ten_LoaiDichVu] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[ID_LoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[Ten_LoaiPhong] [nvarchar](255) NOT NULL,
	[SucChua] [int] NOT NULL,
	[Gia_Phong] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID_NhanVien] [int] IDENTITY(1,1) NOT NULL,
	[Ten_NhanVien] [nvarchar](255) NOT NULL,
	[CMND_NhanVien] [varchar](20) NOT NULL,
	[SDT_NhanVien] [varchar](15) NOT NULL,
	[GioiTinh_NhanVien] [nvarchar](10) NOT NULL,
	[Email_NhanVien] [varchar](100) NOT NULL,
	[DiaChi_NhanVien] [nvarchar](500) NOT NULL,
	[Role_NhanVien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[ID_Phong] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Phong] [nvarchar](100) NOT NULL,
	[ID_LoaiPhong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Email_TaiKhoan] [varchar](100) NOT NULL,
	[Pass_TaiKhoan] [varchar](50) NOT NULL,
	[Role_TaiKhoan] [nvarchar](50) NOT NULL,
	[Ban_TaiKhoan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatPhong] ON 

INSERT [dbo].[DatPhong] ([ID_DatPhong], [ID_NhanVien], [ID_KhachHang], [ID_Phong], [ID_KhuyenMai], [Check_In], [Check_Out], [TienCoc], [TongTien], [TrangThai], [HinhThucThanhToan], [KetQua]) VALUES (1, 2, 1, 75, N'6', CAST(N'2024-05-01T17:53:27.000' AS DateTime), CAST(N'2024-05-10T17:53:27.000' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), CAST(23750000.00 AS Decimal(18, 2)), N'Đã Thanh Toán', N'Quẹt Thẻ', N'Đang Hoạt Động')
INSERT [dbo].[DatPhong] ([ID_DatPhong], [ID_NhanVien], [ID_KhachHang], [ID_Phong], [ID_KhuyenMai], [Check_In], [Check_Out], [TienCoc], [TongTien], [TrangThai], [HinhThucThanhToan], [KetQua]) VALUES (2, 3, 2, 70, N'5', CAST(N'2024-05-20T17:53:27.000' AS DateTime), CAST(N'2024-05-25T17:53:27.000' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), CAST(23250000.00 AS Decimal(18, 2)), N'Đã Thanh Toán', N'Chuyển Khoản', N'Chưa Hoạt Động')
INSERT [dbo].[DatPhong] ([ID_DatPhong], [ID_NhanVien], [ID_KhachHang], [ID_Phong], [ID_KhuyenMai], [Check_In], [Check_Out], [TienCoc], [TongTien], [TrangThai], [HinhThucThanhToan], [KetQua]) VALUES (3, 4, 3, 65, N'4', CAST(N'2024-05-20T17:53:27.000' AS DateTime), CAST(N'2024-05-25T17:53:27.000' AS DateTime), CAST(100000.00 AS Decimal(18, 2)), CAST(11000000.00 AS Decimal(18, 2)), N'Đã Thanh Toán', N'Tiền Mặt', N'Đang Hoạt Động')
SET IDENTITY_INSERT [dbo].[DatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([ID_DichVu], [ID_LoaiDichVu], [Ten_DichVu], [Gia_DichVu]) VALUES (1, 1, N'BÚN ĐẬU', CAST(35000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([ID_DichVu], [ID_LoaiDichVu], [Ten_DichVu], [Gia_DichVu]) VALUES (2, 1, N'BÚN CHẢ', CAST(35000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([ID_DichVu], [ID_LoaiDichVu], [Ten_DichVu], [Gia_DichVu]) VALUES (3, 1, N'BÁNH MÌ', CAST(35000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID_KhachHang], [Ten_KhachHang], [Tuoi_KhachHang], [CMND_KhachHang], [GioiTinh_KhachHang], [Email_KhachHang], [SDT_KhachHang], [DiaChi_KhachHang]) VALUES (1, N'Trần Tân Khả', 20, N'033304009823', N'Nam', N'trantankha123@gmail.com', N'0912365478', N'Hải Dương')
INSERT [dbo].[KhachHang] ([ID_KhachHang], [Ten_KhachHang], [Tuoi_KhachHang], [CMND_KhachHang], [GioiTinh_KhachHang], [Email_KhachHang], [SDT_KhachHang], [DiaChi_KhachHang]) VALUES (2, N'Doãn Quốc Huy', 20, N'033204002762', N'Nam', N'doanquochuy23082004@gmail.com', N'0978320093', N'Phù Cừ')
INSERT [dbo].[KhachHang] ([ID_KhachHang], [Ten_KhachHang], [Tuoi_KhachHang], [CMND_KhachHang], [GioiTinh_KhachHang], [Email_KhachHang], [SDT_KhachHang], [DiaChi_KhachHang]) VALUES (3, N'Nguyễn Đức Hải', 20, N'033204002763', N'Nam', N'nguyenduchai2004@gmail.com', N'0312645978', N'Tiên Lữ')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[KhuyenMai] ([ID_KhuyenMai], [Ten_KhuyenMai], [GiaTri], [MoTa], [NgayBatDau], [NgayKetThuc]) VALUES (N'0', N'Không Giảm Giá', CAST(0.00 AS Decimal(18, 2)), N'Áp dụng cho tất cả các chương trình', CAST(N'2024-05-01T00:00:00.000' AS DateTime), CAST(N'2024-05-31T00:00:00.000' AS DateTime))
INSERT [dbo].[KhuyenMai] ([ID_KhuyenMai], [Ten_KhuyenMai], [GiaTri], [MoTa], [NgayBatDau], [NgayKetThuc]) VALUES (N'1', N'Giảm giá 10%', CAST(0.10 AS Decimal(18, 2)), N'Áp dụng cho tất cả dịch vụ', CAST(N'2024-05-01T00:00:00.000' AS DateTime), CAST(N'2024-05-31T00:00:00.000' AS DateTime))
INSERT [dbo].[KhuyenMai] ([ID_KhuyenMai], [Ten_KhuyenMai], [GiaTri], [MoTa], [NgayBatDau], [NgayKetThuc]) VALUES (N'2', N'Giảm giá 20%', CAST(0.20 AS Decimal(18, 2)), N'Áp dụng cho các phòng loại Phòng Gia Đình', CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-06-30T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoaiDichVu] ON 

INSERT [dbo].[LoaiDichVu] ([ID_LoaiDichVu], [Ten_LoaiDichVu]) VALUES (1, N'ẨM THỰC')
INSERT [dbo].[LoaiDichVu] ([ID_LoaiDichVu], [Ten_LoaiDichVu]) VALUES (2, N'SỨC KHỎE & LÀM ĐẸP')
INSERT [dbo].[LoaiDichVu] ([ID_LoaiDichVu], [Ten_LoaiDichVu]) VALUES (3, N'HỘI NGHỊ & SỰ KIỆN')
SET IDENTITY_INSERT [dbo].[LoaiDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [Ten_LoaiPhong], [SucChua], [Gia_Phong]) VALUES (1, N'PHÒNG CHIC DELUXE', 1, CAST(1500000.00 AS Decimal(18, 2)))
INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [Ten_LoaiPhong], [SucChua], [Gia_Phong]) VALUES (2, N'PHÒNG CHIC DELUXE DOUBLE', 2, CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [Ten_LoaiPhong], [SucChua], [Gia_Phong]) VALUES (3, N'PHÒNG PREMIER DELUXE', 1, CAST(1800000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([ID_NhanVien], [Ten_NhanVien], [CMND_NhanVien], [SDT_NhanVien], [GioiTinh_NhanVien], [Email_NhanVien], [DiaChi_NhanVien], [Role_NhanVien]) VALUES (1, N'Doãn Quốc Huy', N'033204002762', N'0978320093', N'Nam', N'doanquochuy23082004@gmail.com', N'Hưng Yên', N'Chủ Tịch')
INSERT [dbo].[NhanVien] ([ID_NhanVien], [Ten_NhanVien], [CMND_NhanVien], [SDT_NhanVien], [GioiTinh_NhanVien], [Email_NhanVien], [DiaChi_NhanVien], [Role_NhanVien]) VALUES (2, N'Lê Ngọc Chiến', N'033204002763', N'0925412680', N'Nam', N'doanhuypc2308@gmail.com', N'Hà Nội', N'Pha Chế')
INSERT [dbo].[NhanVien] ([ID_NhanVien], [Ten_NhanVien], [CMND_NhanVien], [SDT_NhanVien], [GioiTinh_NhanVien], [Email_NhanVien], [DiaChi_NhanVien], [Role_NhanVien]) VALUES (3, N'Trần Thị Mai', N'033204002764', N'0987655678', N'Nữ', N'doanhuypc2004@gmail.com', N'Lào Cai', N'Lễ Tân')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([ID_Phong], [Ten_Phong], [ID_LoaiPhong]) VALUES (1, N'111', 1)
INSERT [dbo].[Phong] ([ID_Phong], [Ten_Phong], [ID_LoaiPhong]) VALUES (2, N'112', 1)
INSERT [dbo].[Phong] ([ID_Phong], [Ten_Phong], [ID_LoaiPhong]) VALUES (3, N'113', 1)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email_TaiKhoan], [Pass_TaiKhoan], [Role_TaiKhoan], [Ban_TaiKhoan]) VALUES (1, N'doanquochuy23082004@gmail.com', N'1', N'Admin', 0)
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email_TaiKhoan], [Pass_TaiKhoan], [Role_TaiKhoan], [Ban_TaiKhoan]) VALUES (2, N'doanhuypc2308@gmail.com', N'1', N'Nhân viên', 1)
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email_TaiKhoan], [Pass_TaiKhoan], [Role_TaiKhoan], [Ban_TaiKhoan]) VALUES (3, N'doanhuypc2004@gmail.com', N'2', N'Nhân Viên', 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__74CAC401D2F44D58]    Script Date: 5/20/2024 3:31:15 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__79246FE2BF657C89]    Script Date: 5/20/2024 3:31:15 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CMND_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__EC014F717DFC1291]    Script Date: 5/20/2024 3:31:15 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SDT_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__0601604AF6F240B4]    Script Date: 5/20/2024 3:31:15 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[CMND_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__1FE57E1966727C0A]    Script Date: 5/20/2024 3:31:15 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Email_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__64E680D052FBA363]    Script Date: 5/20/2024 3:31:15 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[SDT_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__7391F588D36E8934]    Script Date: 5/20/2024 3:31:15 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [Ban_TaiKhoan]
GO
ALTER TABLE [dbo].[DatDichVu]  WITH CHECK ADD FOREIGN KEY([ID_DichVu])
REFERENCES [dbo].[DichVu] ([ID_DichVu])
GO
ALTER TABLE [dbo].[DatDichVu]  WITH CHECK ADD FOREIGN KEY([ID_KhachHang])
REFERENCES [dbo].[KhachHang] ([ID_KhachHang])
GO
ALTER TABLE [dbo].[DatDichVu]  WITH CHECK ADD FOREIGN KEY([ID_KhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([ID_KhuyenMai])
GO
ALTER TABLE [dbo].[DatDichVu]  WITH CHECK ADD FOREIGN KEY([ID_NhanVien])
REFERENCES [dbo].[NhanVien] ([ID_NhanVien])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([ID_KhachHang])
REFERENCES [dbo].[KhachHang] ([ID_KhachHang])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([ID_KhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([ID_KhuyenMai])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([ID_NhanVien])
REFERENCES [dbo].[NhanVien] ([ID_NhanVien])
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD FOREIGN KEY([ID_Phong])
REFERENCES [dbo].[Phong] ([ID_Phong])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([ID_LoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([ID_LoaiDichVu])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([ID_LoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([ID_LoaiPhong])
GO
/****** Object:  StoredProcedure [dbo].[DeleteKhachHang]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteKhachHang]
    @ID_KhachHang INT
AS
BEGIN
	DELETE FROM DatPhong WHERE ID_KhachHang = (SELECT ID_KhachHang FROM KhachHang WHERE ID_KhachHang = @ID_KhachHang);
	DELETE FROM DatDichVu WHERE ID_KhachHang = (SELECT ID_KhachHang FROM KhachHang WHERE ID_KhachHang = @ID_KhachHang);
	DELETE FROM ChiTietHoaDon WHERE ID_HoaDon = (SELECT ID_HoaDon FROM HoaDon WHERE ID_KhachHang = @ID_KhachHang);
    DELETE FROM HoaDon WHERE ID_KhachHang = (SELECT ID_KhachHang FROM KhachHang WHERE ID_KhachHang = @ID_KhachHang);
    DELETE FROM KhachHang WHERE ID_KhachHang = @ID_KhachHang;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteNhanVien]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteNhanVien]
    @ID_NhanVien INT
AS
BEGIN
    DELETE FROM TaiKhoan WHERE Email_TaiKhoan = (SELECT Email_NhanVien FROM NhanVien WHERE ID_NhanVien = @ID_NhanVien);
    DELETE FROM NhanVien WHERE ID_NhanVien = @ID_NhanVien;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteTaiKhoan]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTaiKhoan]
    @ID_TaiKhoan INT
AS
BEGIN
    DELETE FROM NhanVien WHERE Email_NhanVien = (SELECT Email_TaiKhoan FROM TaiKhoan WHERE ID_TaiKhoan = @ID_TaiKhoan);
    DELETE FROM TaiKhoan WHERE ID_TaiKhoan = @ID_TaiKhoan;
END
GO
/****** Object:  StoredProcedure [dbo].[InDonDatDichVu]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--In Hóa Đơn Đặt Dịch Vụ
CREATE PROCEDURE [dbo].[InDonDatDichVu]
	@IDKhachHang INT
AS
BEGIN
	SELECT ddv.ID_DatDichVu, ddv.ID_NhanVien,nv.Ten_NhanVien, kh.Ten_KhachHang, kh.SDT_KhachHang, dv.Ten_DichVu, ldv.Ten_LoaiDichVu , ddv.SoLuong, 
	dv.Gia_DichVu, km.Ten_KhuyenMai, ddv.NgayDat ,ddv.TongTien,ddv.TrangThai
	FROM DatDichVu ddv
	INNER JOIN NhanVien nv on ddv.ID_NhanVien = nv.ID_NhanVien
	INNER JOIN KhachHang kh on ddv.ID_KhachHang = kh.ID_KhachHang
	INNER JOIN DichVu dv on ddv.ID_DichVu = dv.ID_DichVu
	INNER JOIN LoaiDichVu ldv on ldv.ID_LoaiDichVu = dv.ID_LoaiDichVu
	LEFT JOIN KhuyenMai km on km.ID_KhuyenMai = ddv.ID_KhuyenMai
	WHERE ddv.ID_KhachHang = @IDKhachHang
END
GO
/****** Object:  StoredProcedure [dbo].[InDonDatPhong]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InDonDatPhong]
    @IDDatPhong INT
AS
BEGIN
    SELECT dp.ID_DatPhong,dp.ID_NhanVien,nv.Ten_NhanVien,kh.Ten_KhachHang, kh.GioiTinh_KhachHang ,kh.SDT_KhachHang , kh.DiaChi_KhachHang 
	,p.Ten_Phong,lp.Ten_LoaiPhong,lp.SucChua,lp.Gia_Phong,km.Ten_KhuyenMai,dp.Check_In,dp.Check_Out,dp.TienCoc,dp.TongTien,dp.TrangThai
    FROM DatPhong dp
    INNER JOIN NhanVien nv ON dp.ID_NhanVien = nv.ID_NhanVien
    INNER JOIN KhachHang kh ON dp.ID_KhachHang = kh.ID_KhachHang
    INNER JOIN Phong p ON dp.ID_Phong = p.ID_Phong
    INNER JOIN LoaiPhong lp ON p.ID_LoaiPhong = lp.ID_LoaiPhong
    LEFT JOIN KhuyenMai km ON dp.ID_KhuyenMai = km.ID_KhuyenMai
    WHERE dp.ID_DatPhong = @IDDatPhong;
END
GO
/****** Object:  StoredProcedure [dbo].[InPhongDat]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--In Phòng Được Đặt
CREATE PROCEDURE [dbo].[InPhongDat]
	@IDDatPhong INT
AS
BEGIN
	SELECT dp.ID_DatPhong, kh.ID_KhachHang, kh.Ten_KhachHang, p.Ten_Phong , lp.Ten_LoaiPhong, lp.SucChua  FROM DatPhong AS dp 
	INNER JOIN KhachHang kh ON dp.ID_KhachHang = kh.ID_KhachHang
    INNER JOIN Phong p ON dp.ID_Phong = p.ID_Phong
    INNER JOIN LoaiPhong lp ON p.ID_LoaiPhong = lp.ID_LoaiPhong
	WHERE dp.ID_DatPhong =@IDDatPhong
END
GO
/****** Object:  StoredProcedure [dbo].[KTPhongTrong]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[KTPhongTrong]
	@Check_In date,
	@Check_Out date
as
begin
	select ID_Phong,Ten_Phong,lp.ID_LoaiPhong,Ten_LoaiPhong,SucChua,Gia_Phong from Phong as p
	inner join LoaiPhong as lp on lp.ID_LoaiPhong= p.ID_LoaiPhong
	 WHERE p.ID_Phong NOT IN ( SELECT DISTINCT ID_Phong FROM DatPhong WHERE Check_In <= @Check_Out AND Check_Out >= @Check_In )
end
GO
/****** Object:  StoredProcedure [dbo].[ThongKeDonDatDichVu]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeDonDatDichVu]
    @NgayBatDau DATETIME = NULL,
    @NgayKetThuc DATETIME = NULL,
    @Ten_DichVu NVARCHAR(255) = NULL,
    @Ten_LoaiDichVu NVARCHAR(255) = NULL
AS
BEGIN
    SELECT ddv.ID_DatDichVu, kh.Ten_KhachHang, kh.SDT_KhachHang, ddv.NgayDat, dv.Ten_DichVu, ldv.Ten_LoaiDichVu,
           ddv.SoLuong, km.Ten_KhuyenMai, ddv.TongTien , SUM(ddv.TongTien) OVER () AS DoanhThu
    FROM DatDichVu ddv
    JOIN DichVu dv ON ddv.ID_DichVu = dv.ID_DichVu
    JOIN LoaiDichVu ldv ON dv.ID_LoaiDichVu = ldv.ID_LoaiDichVu
    JOIN KhachHang kh ON ddv.ID_KhachHang = kh.ID_KhachHang
    LEFT JOIN KhuyenMai km ON ddv.ID_KhuyenMai = km.ID_KhuyenMai
    WHERE (@NgayBatDau IS NULL OR ddv.NgayDat >= @NgayBatDau)
      AND (@NgayKetThuc IS NULL OR ddv.NgayDat <= @NgayKetThuc)
      AND (@Ten_DichVu IS NULL OR dv.Ten_DichVu LIKE '%' + @Ten_DichVu + '%')
      AND (@Ten_LoaiDichVu IS NULL OR ldv.Ten_LoaiDichVu LIKE '%' + @Ten_LoaiDichVu + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKeDonDatPhong]    Script Date: 5/20/2024 3:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thống Kê Đơn Đặt Phòng
CREATE PROCEDURE [dbo].[ThongKeDonDatPhong]
    @Check_In DATETIME = NULL,
    @Check_Out DATETIME = NULL,
    @Ten_Phong NVARCHAR(100) = NULL,
    @Ten_LoaiPhong NVARCHAR(255) = NULL
AS
BEGIN
    SELECT dp.ID_DatPhong, p.Ten_Phong, lp.Ten_LoaiPhong, kh.Ten_KhachHang,
           kh.SDT_KhachHang, dp.Check_In, dp.Check_Out, dp.TienCoc, km.Ten_KhuyenMai, dp.TongTien,
           SUM(dp.TongTien) OVER () AS Tong
    FROM DatPhong dp
    JOIN Phong p ON dp.ID_Phong = p.ID_Phong
    JOIN LoaiPhong lp ON p.ID_LoaiPhong = lp.ID_LoaiPhong
    JOIN KhachHang kh ON dp.ID_KhachHang = kh.ID_KhachHang
    LEFT JOIN KhuyenMai km ON dp.ID_KhuyenMai = km.ID_KhuyenMai
    WHERE (@Check_In IS NULL OR (dp.Check_In <= @Check_Out))
	  AND (@Check_Out IS NULL OR (dp.Check_Out >= @Check_In))
      AND (@Ten_Phong IS NULL OR p.Ten_Phong LIKE '%' + @Ten_Phong + '%')
      AND (@Ten_LoaiPhong IS NULL OR lp.Ten_LoaiPhong LIKE '%' + @Ten_LoaiPhong + '%');
END
GO
USE [master]
GO
